<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Actualizar Usuario</title>

</head>

<body>
    <div class="login-page">
        <div class="form">
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>
            <form class="formulario" th:action="@{/editar/usuario}" method="post" enctype="multipart/form-data">
                <input type="text"  th:value="${usuario.id}" name="usuarioId" hidden>
                <input type="text" name="nombre" placeholder="NOMBRE" th:value="${usuario.nombre}">
                <input type="email" name="email" placeholder="EMAIL" th:value="${usuario.email}">
                <div class="form-group">
                <label for="rol" style="font-size:15px; ;">ROL:</label>
                <select id="rol" name="rol" style="width: 145px;margin-bottom:15px;margin-left:90px;" >
                    <div th:each="roles:${roles}">
                    <option th:value="${roles.key}" th:text="${roles.value}" ></option>
                </div>
                </select>
            </div>
                <input type="password" name="password" placeholder="NUEVA CONTRASEÑA" th:value="${password}">
                <input type="password" name="password2" placeholder="REPETIR CONTRASEÑA" th:value="${password2}">
                <div class="form-group">
                    <label for="archivo" style="text-decoration: underline; font-size:20px">Imagen usuario</label>
                    <input type="file" class="form-control-file" name="archivo">
                </div>
                <button type="submit">Guardar</button>
            </form>







        </div>
    </div>

</body>

</html>